{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <div class="formHeadingContainer">
        <h1 class="formTitle">{{movie.title}}</h1>
    </div>

    <div class="itemOverviewContainer">
        <div class="itemProperty">
            <span>Id</span>
            <span>{{movie.id}}</span>
        </div>

        <div class="itemProperty">
            <span>Title</span>
            <span>{{movie.title}}</span>
        </div>

        <div class="itemProperty">
            <span>Description</span>
            <span>{{movie.description}}</span>
        </div>

        <div class="itemProperty">
            <span>Genre</span>
            <span>{{movie.genre}}</span>
        </div>

        <div class="itemProperty">
            <span>releaseDate</span>
            <span>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</span>
        </div>
    </div>

    <div class="optionsContainer">
        <a class="btn" href="{{ path('movies_edit', {'id': movie.id}) }}">edit</a>
        <a class="btn danger" href="{{ path('movies_index') }}">back to list</a>
        {{ include('movies/_delete_form.html.twig') }}
    </div>
{% endblock %}
